.vs/

bin/*
obj/*
.idea/
bin/Debug/netcoreapp3.1/Jeux01.dll
bin/Debug/netcoreapp3.1/Jeux01.pdb
bin/Debug/netcoreapp3.1/Jeux01.runtimeconfig.dev.json
obj/Debug/netcoreapp3.1/Jeux01.assets.cache
obj/Debug/netcoreapp3.1/Jeux01.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Jeux01.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Jeux01.dll
obj/Debug/netcoreapp3.1/Jeux01.pdb
obj/Jeux01.csproj.nuget.cache
obj/Jeux01.csproj.nuget.dgspec.json
obj/Jeux01.csproj.nuget.g.props
obj/project.assets.json
